@import '../../../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  border-top: 15px solid;
  border-image: linear-gradient(90deg, $first-gradient-color, $second-gradient-color);
  border-image-slice: 1;
  background-color: $header-footer-background;
  padding: 0 40px;

  &__logo {
    position: relative;

    &::after {
      content: 'Boolean Edition';
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 12px;
      color: $secondary-text-color;
      text-decoration: underline;
      font-style: italic;
    }

    & > a {
      display: inline-block;
      font-family: 'Cormorant', serif;
      font-size: 60px;
      font-style: italic;
      transition-duration: 0.4s;

      &:hover {
        color: $secondary-text-color;
      }
    }
  }
}

.navigation {
  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    display: inline-block;
    font-size: 25px;
    padding: 5px 30px;
    transition-duration: 0.4s;

    &_mobile {
      display: none;
      justify-content: center;
      align-items: center;
      border: 3px solid $second-gradient-color;
      font-size: 18px;
      border-radius: 10px;
      padding: 13px;
      margin-top: 16px;
    }

    &:hover {
      transform: scale(1.3);

      & > a {
        color: $secondary-text-color;
      }
    }
  }
}

@media (max-width: 700px) {
  .navigation {
    &__item {
      display: none;
      &_mobile {
        display: flex;
      }
    }
  }
}
